# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.vscode/
.idea/
.DS_Store

# Data
data/*.json
!data/po_registry.json
!data/employee_db.json
!data/vendor_contracts.json
